
.unvalid-masseg{
    top:50%;
    left: 50%;
   transform:translate(-50%,-50%);
}
.close-btn:hover{
    cursor: pointer;
    
}
h1{
 
    font-family: 'Pacifico', 'cursive';
    
   
    background-image: linear-gradient(to top, #3ca55c, #b5ac49);
    color: transparent;
     /* Make the text transparent */
     -webkit-background-clip: text;/* Ensure the background covers the entire text */
    /* Apply background-clip for WebKit browsers */
    background-clip: text; /* Apply background-clip for standard browsers */
}

h2{
  
   
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    color: transparent;
     /* Make the text transparent */
     -webkit-background-clip: text;/* Ensure the background covers the entire text */
    /* Apply background-clip for WebKit browsers */
    background-clip: text; /* Apply background-clip for standard browsers */
}

.bookmarker-contant{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}
.full-layr {
    height: 100vh;
    width: 100px;
    background-color: rgba(0, 0,0, .6);

}
